body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(199, 195, 195);
}

.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  gap: 1.5rem;
}

#input {  
  margin-left: 70px;
}

.episode-container {
  width: 100%;
  text-align: center;
  background-color: rgb(250, 245, 245);
  box-shadow: 1px 1px 4px 4px #ebe9e9;
  border-radius: 7px;
}
.episode-name {
  border: 1px solid black;
  padding: 0.75em 0;
  margin-top: 0;
  border-radius: 7px;

}

.summary-text {
  text-align: left;
  width: 85%;
  margin: auto;
}

